main > .container {
    padding: 60px 16px 0;
}

.notification-container {
    padding: 5px 0 5px 0;
    height: 60px;
}

.form-responsive {
    width: 50%;
    margin: auto;
}

@media (max-width: 400px)
{
    .form-responsive {
        width: 100%;
    }
}